body{
	background-color: white;
}

/*
	Menu Bar Styling
*/
#headBar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: green;
}

#headBar ul li{
	display: inline;
	width: 10%;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: white;
}
/*
	Slide Bar Styling
*/
#slideBar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: green;
}

#slideBar ul li{
	display: block;
	width: 10%;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: white;
}