/*
Created By Chase Lose
*/
body{
	background-color: white;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openNav{
    font-size:30px;
    cursor:pointer;
    right: 30px;
    position: fixed;

}

.infoBar{
	background-color: #111;
	position: relative;
    height: 55px;
}

.infoButton{
}

.dropbtn {
  background-color: lightblue;
  color: white;
  padding: 16px;
  font-size: 16px;
  color: black;
  border-style: none;
}

.valueDropdown {
  position: relative;
  display: inline-block;
}

.dropContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropContent a:hover{
	background-color: #ddd;
}

.valueDropdown:hover .dropContent{
	display: block;
}

.valueDropdown:hover .dropbtn{
	background-color: blue;
}

.budgetOrg{
    border: solid thin;
    width: 60%;
    padding: 5px;
}

#bill{
    border: solid thin;
    height:45px;
    padding: 5px;
}

#catStyle{
    border: solid thin;
    background-color: lightgray;
    height:45px;
    padding: 5px;
}

.deleteCat{
    float:right;
    margin-right: 5px;
    color: red;
}

.deleteBill{
    float:right;
    margin-right: 5px;
    color: red;
}

.payBtn{
    float: right;
    margin-right: 10px;
}