/*
Created By Chase Lose
*/
/*
	Slide Bar Styling
*/
#slideBar{
	height: 100%;
	position: fixed;
	width: 0;
	z-index: 1;
	top: 0;
	right: 0;
	overflow-x: hidden;
	background-color: black;
	padding-top: 20px;
	transition: 0.5s;
	padding-top: 60px;

}

#slideBar ul{
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

#slideBar ul li{
	display: block;
	width: 10%;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: white;
}

#slideBar #closeButton{
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
 	margin-left: 50px;
}